/* Font import */
@import url('https://fonts.upset.dev/css2?family=Kanit:wght@300;600&display=swap');
@import url('https://fonts.upset.dev/css2?family=Material+Icons');
/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Body styles */

:root {
    --background-color: #0b132b;
    --main-text-color: #fbaccd;
}

body {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

@media (prefers-color-scheme: dark) {
    
    :root {
        --background-color: #0b132b;
        --overlay-background-color: #fbaccd;
        --main-text-color: #fbaccd;
        --overlay-text-color: #0b132b;
    }

    body {
      background-color: var(--background-color);
    }
    .image-overlay, .image-overlay-info, .image-overlay-button > * {
        background-color: var(--overlay-background-color);
        color: var(--overlay-text-color);
    }
    .header, .header-links > *, .modal-navigation > *{
        color: var(--main-text-color);
      }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: rgba(240, 248, 255, 1);
        --overlay-background-color: #0b132b;
        --main-text-color: #fbaccd;
        --overlay-text-color: rgba(240, 248, 255, 1);
    }

    body {
        background-color: var(--background-color);
      }
      .image-overlay, .image-overlay-info, .image-overlay-button > * {
          background-color: var(--overlay-background-color);
          color: var(--overlay-text-color);
      }
      .header, .header-links > *, .modal-navigation > *{
          color: var(--main-text-color);
        }
}

span, a {
    text-decoration: none;
    cursor: pointer;
}

/* Header */

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem;
}

.header-title {
    display: flex;
    align-items: baseline;
    font-size: 2rem;
}

.header-links {
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.header-links > * {
    font-size: 48px !important;
}
.header-links > *:not(:last-child) {
    margin-right: 12px;
}

.social {
    width: 48px; 
    height: 48px;
    display: inline-block;
}

/* Main content */

images {
    display: grid;
    grid-template-columns: repeat( auto-fill, 300px );
    margin-inline: auto;
    margin-bottom: 4rem;
    gap: 1rem;
    justify-content: center;
    justify-items: center;
}

.vertical, .vertical > img{
    grid-row: span 2;
    min-height: 460px;
    height: 100%;
}

.horizontal, .horizontal > img{
    height: 100%;
    min-height: 230px;
}

.square, .square > img{
    height: 300px;
    width: 300px;
}

.img {
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
    transition: scale 0.25s, transform 0.5s;
    width: 300px;
}
div.img:hover {
    z-index: 2;
}
div.img > img {
    transition: border-radius 0.5s;
}

div{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.image-overlay{ 
    position: absolute;
    opacity: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 64px;
    border-radius: 0 0 10px 10px;
    transition: transform 0.5s, scale 0.5s, opacity 0.25s;
    transform-origin: top;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-overlay-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-overlay-button > * {
    opacity: 0.5;
    font-size: 32px !important;
    transition: opacity 0.25s;
}

.blur-img, .blur-modal {
    position: relative;
}

.blur-img::before, .blur-modal::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 105, 180, .2);
    animation: pulse 3s infinite;
    border-radius: 10px;
}

.blur-img.loaded::before, .blur-modal.loaded::before{
    content: none;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 105, 180, 0);
    }
    50% {
        background-color: rgba(255, 105, 180, .2);
    }
    100% {
        background-color: rgba(255, 105, 180, 0);
    }
}

.blur-img.loaded > img, .blur-modal.loaded > img {
    opacity: 1;
}

.blur-img > img, .blur-modal > img {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

/* preview modal */

.modal {
    position: fixed;
    opacity: 0;
    display: none;
    flex-direction: column;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    align-items: center;
    transition: opacity 0.4s;
}

.modal-background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.75);
    transition: backdrop-filter 0.4s;
}

.modal-background.filter {
    backdrop-filter: blur(16px);
}

.modal-content {
    margin: auto;
    border-radius: 16px;
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
  
.modal-image {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.modal-navigation {
    display: flex;
    height: 64px;
    align-items: center;
    gap: 1.5rem;
    transition: opacity 0.2s;
}

.modal-navigation > * {
    font-size: 48px !important;
    opacity: 0.75;
}

/* Animations */

.modal-navigation > *, .image-overlay > * {
    transition: scale 0.2s, opacity 0.1s;
}

:is(div.img, a, span, .bento):where(:hover, :focus) {
    scale: 1.05;
}

div.img:hover {
    transform: translateY(-32px);
}

div.img:hover > img {
    border-radius: 10px 10px 0 0;
}

.img:hover  > .image-overlay{
    transform: translateY(64px);
}

.modal.flex, .copy-popup.flex{
    display: flex;
}

*.opacity, .modal-navigation > *:hover, div.img:hover > .image-overlay, .image-overlay-button > *:hover {
    opacity: 1 !important;
}

/* Copy popup */

.copy-popup {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: fit-content;
    background-color: #363537;
    color: #8cd867;
    padding: 1rem;
    align-items: center;
    border-radius: 16px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;
}

.copy-popup > * {
    font-size: 32px !important;
    margin-inline: 0.3rem;
}
/* Responsive */

@media (orientation: landscape) { .modal-content 
    {   
        height:90%;
    } 
}
@media (orientation: portrait) { .modal-content 
    {   
        width:90%;
        max-width:90%;
    } 
}

@media only screen and (max-width: 750px){
    .header-title {
        font-size: larger
    }
    .header-links {
        margin-left: 0;
    }
    images {
        grid-template-columns: repeat( auto-fill, 175px );
    }
    .img {
        width: 175px;
    }
    .square, .square > img{
        height: 175px;
        width: 175px;
    }
    .vertical, .vertical > img{
        min-height: 274px;
    }
    .horizontal, .horizontal > img{
        min-height: 137px;
    }
    .image-overlay {
        height: 32px;
    }
    .img:hover  > .image-overlay{
        transform: translateY(32px);
    }
    .image-overlay-button > * {
        font-size: 16px !important;
    }
    .image-overlay-info > * {
        font-size: 8px !important;
    }
}
