@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

@media (prefers-color-scheme: dark) {
    body, .image-overlay{
      background-color: #0b132b;
    }
    .header, span, a, i{
        color: #fbaccd;
      }
    }

@media (prefers-color-scheme: light) {
    body, .image-overlay{
        background-color: rgba(240, 248, 255, 1);
    }
    .header, span, a, i{
        color: #ff7b86;
    }
}
span, a {
    text-decoration: none;
    cursor: pointer;
}


.header {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    padding-top: 1rem;
    font-size: 24px;
}

.bento {
    width: 48px; 
    height: 48px;
    align-self: center;
    margin-left: 0.5rem;
    transition: scale 0.1s;
}


images {
    display: grid;
    grid-template-columns: repeat( auto-fill, 300px );
    margin-inline: auto;
    margin-block: 2rem;
    gap: 0.5rem;
    justify-content: center;
    justify-items: center;
}

.img.vertical, .img.vertical > img{
    grid-row: span 2;
    height: 100%;
}

.img.horizontal, .img.horizontal > img{
    height: 100%;
}

.img.square, .img.square > img{
    height: 300px;
    width: 300px;
}

.img {
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
    transition: scale 0.1s, border-radius 0.1s;
    width: 300px;
}

.img:where(:hover, :focus){
    border-radius: 5px;
}

.image-overlay{ 
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 120px;
    height: 48px;
    border-radius: 6px;
    scale: 0;
    transition: scale 0.2s, border-radius 0.1s;
    transform-origin: bottom right;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-overlay:where(:hover, :focus) {
    border-radius: 8px;
}


.image-overlay > * {
    opacity: 0.5;
    font-size: 32px !important;
}

.modal {
    position: fixed;
    opacity: 0;
    display: none;
    flex-direction: column;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    align-items: center;
}

.modal-background {
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(16px);
    transition: opacity 0.3s;
}
  
.modal-image {
    margin: auto;
    border-radius: 16px;
    opacity: 0;
    transition-delay: 0.3s;
    transition: opacity 0.6s;
}

.modal-navigation {
    display: flex;
    height: 64px;
    align-items: center;
    opacity: 0;
    gap: 1.5rem;
    transition: opacity 0.2s;
}

.modal-navigation > * {
    font-size: 48px !important;
    opacity: 0.75;
}

.modal-navigation > *, .image-overlay > * {
    transition: scale 0.2s, opacity 0.1s;
}

:is(.img, a, span, .bento):where(:hover, :focus) {
    scale: 1.05;
}

.img:hover  > .image-overlay{
    scale: 1;
}

.modal.flex{
    display: flex;
}

.modal.opacity, .modal-background.opacity, .modal-image.opacity, .modal-navigation.opacity, .modal-navigation > *:hover, .image-overlay > *:hover {
    opacity: 1;
}


.modal-content {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;

}
@media (orientation: landscape) { .modal-content { height:90%; } }
@media (orientation: portrait) { .modal-content { width:90%; } }

@media only screen and (max-width: 1000px){
    .modal-navigation {
        height: 124px;
    }
    .modal-navigation > * {
        font-size: 96px !important;
    }
}
