/* Font import */
@import url('https://fonts.upset.dev/css2?family=Kanit:wght@300;600&display=swap');
@import url('https://fonts.upset.dev/css2?family=Material+Icons');
/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Body styles */

body {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

@media (prefers-color-scheme: dark) {
    body, .image-overlay{
      background-color: #0b132b;
    }
    .header, .header-links > *, .image-overlay > *, .modal-navigation > *{
        color: #fbaccd;
      }
    }

@media (prefers-color-scheme: light) {
    body, .image-overlay{
        background-color: rgba(240, 248, 255, 1);
    }
    .header, .header-links > *, .image-overlay > *, .modal-navigation > *{
        color: #ff7b86;
    }
}
span, a {
    text-decoration: none;
    cursor: pointer;
}

/* Header */

.header {
    display: flex;
    flex-wrap: wrap;
    margin-inline: 2rem;
    padding-top: 1rem;
    font-size: 24px;
}

.header-links {
    margin-left: auto;
    display: flow-root;
}
.header-links > * {
    font-size: 48px !important;
    padding: 1rem;
}

.social {
    width: 48px; 
    height: 48px;
    display: inline-block;
}

/* Main content */

images {
    display: grid;
    grid-template-columns: repeat( auto-fill, 300px );
    margin-inline: auto;
    margin-block: 1rem;
    gap: 0.5rem;
    justify-content: center;
    justify-items: center;
}

.vertical, .vertical > img{
    grid-row: span 2;
    height: 100%;
    min-height: 300px;
    min-width: 300px;
}

.horizontal, .horizontal > img{
    height: 100%;
    min-height: 300px;
    min-width: 300px;
}

.square, .square > img{
    height: 300px;
    width: 300px;
}

.img {
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
    transition: scale 0.1s, border-radius 0.1s;
    width: 300px;
}

div.img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.image-overlay{ 
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 120px;
    height: 48px;
    border-radius: 6px;
    scale: 0;
    transition: scale 0.2s, border-radius 0.1s;
    transform-origin: bottom right;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-overlay:where(:hover, :focus) {
    border-radius: 8px;
}


.image-overlay > * {
    opacity: 0.5;
    font-size: 32px !important;
}

.blur-img {
    position: relative;
}

.blur-img::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 105, 180, .2);
    animation: pulse 3s infinite;
    border-radius: 10px;
}

.blur-img.loaded::before{
    content: none;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 105, 180, 0);
    }
    50% {
        background-color: rgba(255, 105, 180, .2);
    }
    100% {
        background-color: rgba(255, 105, 180, 0);
    }
}

.blur-img.loaded > img {
    opacity: 1;
}

.blur-img > img {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

/* preview modal */

.modal {
    position: fixed;
    opacity: 0;
    display: none;
    flex-direction: column;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    align-items: center;
}

.modal-background {
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(16px);
    transition: opacity 0.3s;
}
  
.modal-image {
    margin: auto;
    border-radius: 16px;
    opacity: 0;
    transition-delay: 0.3s;
    transition: opacity 0.6s;
}

.modal-navigation {
    display: flex;
    height: 64px;
    align-items: center;
    opacity: 0;
    gap: 1.5rem;
    transition: opacity 0.2s;
}

.modal-navigation > * {
    font-size: 48px !important;
    opacity: 0.75;
}

/* Animations */

.modal-navigation > *, .image-overlay > * {
    transition: scale 0.2s, opacity 0.1s;
}

:is(.img, a, span, .bento):where(:hover, :focus) {
    scale: 1.05;
}

.img:hover  > .image-overlay{
    scale: 1;
}

.modal.flex, .copy-popup.flex{
    display: flex;
}

.modal.opacity, .modal-background.opacity, .modal-image.opacity, .modal-navigation.opacity, .modal-navigation > *:hover, .image-overlay > *:hover, .copy-popup.opacity {
    opacity: 1;
}

/* Copy popup */

.copy-popup {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: fit-content;
    background-color: #363537;
    color: #8cd867;
    padding: 1rem;
    align-items: center;
    border-radius: 16px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 2;
}

.copy-popup > * {
    font-size: 32px !important;
    margin-inline: 0.3rem;
}
/* Responsive */

.modal-content {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;

}
@media (orientation: landscape) { .modal-content { height:90%; } }
@media (orientation: portrait) { .modal-content { width:90%; } }

@media only screen and (max-width: 750px){
    .header-links {
        margin-left: 0;
        display: flow-root;
    }
    images {
        grid-template-columns: repeat( auto-fill, 175px );
    }
    .img {
        width: 175px;
    }
    .square, .square > img{
        height: 175px;
        width: 175px;
    }
    .vertical, .vertical > img{
        min-height: 175px;
        min-width: 175px;
    }
    
    .horizontal, .horizontal > img{
        min-height: 175px;
        min-width: 175px;
    }

}
