@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

nav {
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    padding-top: 1rem;
    font-size: 24px;
}

.bento {
    width: 48px; 
    height: 48px;
    align-self: center;
    margin-left: 0.5rem;
    transition: scale 0.1s;
}

images {
    display: grid;
    grid-template-columns: repeat( auto-fill, 300px );
    margin-inline: auto;
    margin-block: 2rem;
    gap: 0.5rem;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

.img {
    height: 300px;
    width: 300px;
    border-radius: 8px;
    cursor: pointer;
    transition: scale 0.1s;
    object-fit: cover;
}

:is(.img, a, span, .bento):where(:hover, :focus) {
    scale: 1.05;
}

.modal {
    opacity: 0;
    position: fixed;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.modal.flex{
    display: flex;
}

.modal.opacity, .modal-background.opacity, .modal-image.opacity {
    opacity: 1;
}

.modal-background {
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(16px);
    transition: opacity 0.3s;
}
  
.modal-image {
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    opacity: 0;
    transition-delay: 0.3s;
    transition: opacity 0.6s;
}

.modal-content {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;

}

@media (orientation: landscape) { .modal-content { height:90%; } }
@media (orientation: portrait) { .modal-content { width:90%; } }

.image-nav {
    position: fixed;
    display: flex;
    gap: 1.5rem;
    top: 32px;
    right: 16px;
    font-size: 48px;
}

span, a {
    text-decoration: none;
    cursor: pointer;
    margin-inline: .5rem;
}

@media only screen and (max-width: 1000px){
    .image-nav {
        font-size: 96px;
    }
}

@media only screen and (max-width: 700px){
    images {
        grid-template-columns: repeat( auto-fill, 250px );
    }
    .img {
        width: 250px;
        height: 250px;
    }
  }

@media (prefers-color-scheme: dark) {
    body.adaptive {
      background: #0b132b;
      color: #fbaccd;
    }
  }
@media (prefers-color-scheme: light) {
    body.adaptive {
      color: #cd1f2d;
    }
  }
